body{
    background-color:black;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

.qrcodeblock{
    background-color: white;
    max-width: 15rem;
    justify-content:center;
    align-items:center;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    padding: 15px;
}
.qrcodeblock>h3{
    font-size: 1.25rem;
    padding-top: 0;

}
.qrcodeblock>p{
    color: rgb(116, 116, 114);
}
img{
    max-width:100%;
    border-radius: 10px;

}